* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row; /* Align items in a row */
}

.sign-in-box {
    background-color: white;
    padding: 40px;
    padding-right: 20%;
    padding-left: 20%;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
}

.sign-in-box img {
    width: 40px;
    height: auto;
    border-radius: 10px;
    background-color: hsl(177, 18%, 78%);
    padding: 10px;
    margin-bottom: 20px;
}

.password-container {
    width: 105%;
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding-right: 50px; /* Space for the eye icon */
}

.password-container svg {
    margin-bottom: 15px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    transition: transfor, 0.2s;
}

.toggle-password:hover {
    transform: scale(1.1);
    color: #3498DB; 
    
}

.side-image {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 73.9vh;
    width: 20%;
    border-radius: 0 10px 10px 0; 
    object-fit: cover; 
}

.remember-me {
    font-weight: normal;
    font-size: 0.9rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.remember-me span {
    margin-bottom: 5px;
}

.remember-me input {
    margin-right: 5px;
    margin-top: 15px;
}

.bott {
    justify-content: space-between;
    display: flex;
}

.sign-in-box h1 {
    font-size: 2.5rem;
    color: #2C3E50;
    margin-bottom: 20px;
}

.sign-in-box form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

input:focus {
    border-color: #3498DB;
    outline: none;
}

.sign-in-btn button {
    text-decoration: none;
    border: none;
}

.button-link {
    text-decoration: none; /* Remove underline */
}

.button-link .sign-in-btn {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.sign-in-btn {
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.sign-in-btn:hover {
    background-color: hsl(177, 18%, 78%);
}

.sign-in-box p {
    margin-top: 10px;
}

.sign-in-box p a {
    color: #2980B9;
    text-decoration: none;
}

.sign-in-box p a:hover {
    text-decoration: underline;
}